#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

.form_div input{
    display:block;
    margin: 0px 0px 10px 0px;
}

.flightIndex{
   border: 2px solid red; 
}
.flightIndex p{
    line-height: 10px;
}
.flightIndex ul{
    border: 2px solid red;
    display: inline-block;
    padding:5px;
    list-style-type: none;
    margin: 0px;
}

.sectionTitle{
    text-decoration: underline;
    margin: 0px 0px 10px 0px;
}


.error-message{
    font-size: 10px;
    color: red;
    border: 1px solid red;
}